<div class="row all-search">
  <h3>全网搜索&nbsp;&nbsp;<small>找你所爱</small></h3>
  <div class="input-group end-search">
    <input type="text" class="form-control" placeholder="Search for..." size="60">
      <span class="input-group-btn" style="width: auto;">
        <button class="btn btn-default" style="height: 34px;"><span class="glyphicon glyphicon-search"></span></button>
      </span>
  </div>
  <p>总结230898条记录</p>
</div>
<div class="row">
  <table class="table table-responsive table-hover">
    <thead>
      <tr>
        <th>选择</th>
        <th>编号</th>
        <th>影名</th>
        <th>上映时间</th>
        <th>热门程度</th>
        <th>上传时间</th>
        <th>评论数</th>
        <th>点赞数</th>
        <th>不点赞数</th>
        <th>上传人</th>
        <th>类别</th>
        <th>种类</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="movie in endMovie.datas">
        <td><input type="checkbox" name="" ng-checked="endMovie.checkValue"></td>
        <td>{{$index+1}}</td>
        <td>{{movie.name}}</td>
        <td>{{movie.createData}}</td>
        <td>热门</td>
        <td>{{movie.createData}}</td>
        <td>1023248</td>
        <td>2342342</td>
        <td>{{movie.staror}}</td>
        <td>{{movie.type}}</td>
        <td>{{movie.tip}}</td>
        <td><button class="btn btn-success btn-xs" style="margin-right: 5px;" ng-click="endMovie.copy(movie)">复制</button><button class="btn btn-warning btn-xs">编辑</button> <button class="btn btn-danger btn-xs">删除</button></td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <label class="selectAll">
      <input type="checkbox" name="" ng-model="endMain.check" ng-true-value="'YES'" ng-false-value="'NO'"ng-click="endMain.selectAll()">

      <span>全选</span>
    </label>
    <pagination  total-items="totalItems" ng-model="currentPage" class="pagination-sm pull-right" previous-text="&lsaquo;" next-text="&rsaquo;"></pagination>
  </div>
</div>
<script type="text/ng-template" id="copy.html">
  <div class="modal-header">
    <h4>前端首页管理</h4>
    <button class="btn btn-link btn-xs pull-right" ng-click="copy.cancel()"><span class="glyphicon glyphicon-remove"></span></button>
  </div>
  <div class="modal-body">
    <form class="form">
      <div class="form-group">
        <div class="row">
          <div class="col-sm-2 col-md-2">
            <span class="pull-right">影名：</span>
          </div>
          <div class="col-sm-10 col-md-10">
            <input type="text" name="movie_name" class="form-control" ng-model="copy.movie.name">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-2 col-md-2">
            <span class="pull-right">热门度：</span>
          </div>
          <div class="col-sm-10 col-md-10">
            <input type="text" name="movie_hotLevel" class="form-control" ng-model="copy.movie.hotLevel">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-2 col-md-2">
            <span class="pull-right">点赞数：</span>
          </div>
          <div class="col-sm-10 col-md-10">
            <label class="control-label"><input type="text" name="movie_goodNumber" class="form-control" ng-model="copy.movie.name"></label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-2 col-md-2">
            <span class="pull-right">评论数：</span>
          </div>
          <div class="col-sm-10 col-md-10">
            <label class="control-label"><input type="text" name="movie_reviews" class="form-control" ng-model="copy.movie.reviews"></label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-2 col-md-2">
            <span class="pull-right">标签：</span>
          </div>
          <div class="col-sm-10 col-md-10">
            <label class="control-label">
              <select class="form-control" ng-model="copy.movie.recommand">
                <option value="upToDateMovie">最新上线</option>
                <option value="likeMovie">为您精选</option>
                <option value="chineseMovie">华语电影</option>
                <option value="comedyMovie">喜剧电影</option>
                <option value="hotMovie">影院热映</option>
                <option value="commingMovie">即将上映</option>
                <option value="artMovie">动作电影</option>
                <option value="hollywoodMovie">好莱坞电影</option>
                <option value="cantoneseMovie">粤语电影</option>
              </select>
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-2 col-md-2">
            <span class="pull-right">图片：</span>
          </div>
          <div class="col-sm-5 col-md-5">
            <img src="http://localhost:8080/end_tv_web/movieAction/getPath/{{copy.movie.imgId}}" class="img-thumbnail">
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="copy.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="copy.cancel()">Cancel</button>
  </div>
</script>
