.liquid {
  float: left;
  margin: 10px 0 0 0;
  overflow: hidden;
}
.liquid .liquid-content {
  float: left;
  overflow: hidden;
  margin: 8px 5px 8px 5px;
  position: relative;
}
.liquid .wrapper {
  position: absolute;
  top:0;
  margin-left: -50px;
}
.photo-sm {
  float: left;
  height:150px;
  overflow: hidden;
  padding: 0 5px;
  margin-right: 43px;
  margin-left: 5px;
  position: relative;
  width:90px;
}
.photo-md {
  float: left;
  height:350px;
  overflow: hidden;
  padding: 0 5px;
  margin-right: 43px;
  margin-left: 5px;
  position: relative;
  width:260px;
}
.liquid .wrapper li img {
  left: 5px;
  position: absolute;
  top:0;
}
.liquid .previous {
  display: block;
  height:126px;
  width:64px;
  background-image:url('../assets/images/liquidcarousel/previous.png');
  float:left;
  margin:0;
  padding:0;
}
.liquid .next {
  display: block;
  height:126px;
  width:64px;
  background-image:url('../assets/images/liquidcarousel/next.png');
  position: relative;
  left:93%;
  padding:0;

}
