.line-tip {
  margin-bottom: 10px;
  margin-top: 20px;
  background-color: #909090;
  width: 60px;
  padding-left: 13px;

}
.line-tip h4 {

  font-size: 16px;
  color:#ffffff;
}
.li-tip li {
  font-size: 13px;
}

