.sort {
  margin-top: 60px;
  border-bottom: 1px solid #909090;
  padding-bottom: 5px;
}
.sort .list-underline {
  border-bottom: 1px dashed #d2d2d2;
  padding-bottom: 10px;
}
.sort .list-underline:last-child {
  border-bottom: 0px solid #FFFFFF;
}
.sort .list-unstyled li {
  color:#000000;
  font-size: 13px;
}
.sort .list-unstyled li:first-child {
  color:#9da0a4;
}
.query {
  border-bottom: 2px solid #DDDDDD;
  padding-bottom: 5px;
  margin-bottom: 20px;
}
.url-tip{
  border: 1px solid #DDDDDD;
  background-color: #999999;
}
.area-tip{
  border: 1px solid #DDDDDD;
  background-color: #999999;
}
.type-tip{
  border: 1px solid #DDDDDD;
  background-color: #999999;
}
.date-tip{
  border: 1px solid #DDDDDD;
  background-color: #999999;
}
