<div class="row all-search">
  <div class="col-sm-4 col-md-4">
    <h4>综艺列表管理</h4>
  </div>
  <div class="col-sm-4 col-md-4 pull-right">
    <div class="input-group">
      <input type="text" class="form-control pull-right" placeholder="Search for...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
        </span>
    </div><!-- /input-group -->
  </div>
</div>
<div class="row offset-top">
  <table class="table table-responsive table-hover">
    <thead>
    <tr>
      <th>选择</th>
      <th>编号</th>
      <th>影名</th>
      <th>上映时间</th>
      <th>热门程度</th>
      <th>上传时间</th>
      <th>评论数</th>
      <th>点赞数</th>
      <th>不点赞数</th>
      <th>上传人</th>
      <th>类别</th>
      <th>种类</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="art in endArt.arts">
      <td><input type="checkbox" name="" ng-checked="endArt.checkValue"></td>
      <td>{{$index+1}}</td>
      <td>{{art.name}}</td>
      <td>{{art.createData}}</td>
      <td>热门</td>
      <td>{{art.createData}}</td>
      <td>{{art.score}}</td>
      <td>2342342</td>
      <td>12434</td>
      <td>{{art.staror}}</td>
      <td>{{art.type}}</td>
      <td>{{art.tip}}</td>
      <td><button class="btn btn-success btn-xs" style="margin-right: 5px;" ng-click="endArt.copy(art)">复制</button><button class="btn btn-warning btn-xs">编辑</button> <button class="btn btn-danger btn-xs">删除</button></td>
    </tr>
    </tbody>
  </table>
  <div class="row">
    <label class="selectAll">
      <input type="checkbox" name="" ng-model="endTv.check" ng-true-value="'YES'" ng-false-value="'NO'"ng-click="endTv.selectAll()">

      <span>全选</span>
    </label>
    <pagination  total-items="endArt.page.totalResult" items-per-page="20" ng-model="endArt.page.currentPage" class="pagination-sm pull-right" ng-change="endArt.changePage()" previous-text="&lsaquo;" next-text="&rsaquo;"></pagination>
  </div>
</div>
<script type="text/ng-template" id="copy.html">
  <div class="modal-header">
    <h4>前端首页管理</h4>
    <button class="btn btn-link btn-xs pull-right" ng-click="copy.cancel()"><span class="glyphicon glyphicon-remove"></span></button>
  </div>
  <div class="modal-body">
    <form class="form">
      <div class="form-group">
        <div class="row">
          <div class="col-sm-2 col-md-2">
            <span class="pull-right">影名：</span>
          </div>
          <div class="col-sm-10 col-md-10">
            <input type="text" name="movie_name" class="form-control" ng-model="copy.movie.name">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-2 col-md-2">
            <span class="pull-right">热门度：</span>
          </div>
          <div class="col-sm-10 col-md-10">
            <input type="text" name="movie_hotLevel" class="form-control" ng-model="copy.movie.hotLevel">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-2 col-md-2">
            <span class="pull-right">点赞数：</span>
          </div>
          <div class="col-sm-10 col-md-10">
            <label class="control-label"><input type="text" name="movie_goodNumber" class="form-control" ng-model="copy.movie.name"></label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-2 col-md-2">
            <span class="pull-right">评论数：</span>
          </div>
          <div class="col-sm-10 col-md-10">
            <label class="control-label"><input type="text" name="movie_reviews" class="form-control" ng-model="copy.movie.reviews"></label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-2 col-md-2">
            <span class="pull-right">标签：</span>
          </div>
          <div class="col-sm-10 col-md-10">
            <label class="control-label">
              <select class="form-control" ng-model="copy.movie.recommand">
                <option value="carouselArt">轮播图</option>
                <option value="recommendArt">强档推荐</option>
                <option value="upToDateArt">最新更新</option>
                <option value="hotArt">综艺劲爆点</option>
                <option value="chinaArt">大陆综艺</option>
                <option value="koreaArt">韩国综艺</option>
                <option value="hkongArt">港台综艺</option>
                <option value="gameArt">游戏解说</option>
                <option value="crosstalkArt">相声之乡</option>
              </select>
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-2 col-md-2">
            <span class="pull-right">图片：</span>
          </div>
          <div class="col-sm-5 col-md-5">
            <img src="http://localhost:8080/end_tv_web/movieAction/getPath/{{copy.movie.imgId}}" class="img-thumbnail">
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="copy.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="copy.cancel()">Cancel</button>
  </div>
</script>
