<div class="modal-body">
  <section class="login_content">
    <form>
      <h1>Login Form</h1>
      <div>
      <input type="text" class="form-control" size="40" placeholder="Username" required="" />
      </div>
      <div>
        <input type="password" class="form-control" size="40" placeholder="Password" required="" />
      </div>
      <div>
        <a class="btn btn-default submit" href="index.html">Log in</a>
        <a class="reset_pass" href="#">Lost your password?</a>
      </div>
      <div class="clearfix"></div>
      <div class="separator">
      <p class="change_link">New to site?
        <a href="#toregister" class="to_register"> Create Account </a>
      </p>

      <br />
      <div>
        <h1><i class="fa fa-paw" style="font-size: 26px;"></i> 热门视频网站</h1>
      </div>
    </div>
  </form>
  </section>
</div>
<!--<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="modal.ok()">OK</button>
  <button class="btn btn-warning" type="button" ng-click="modal.cancel()">Cancel</button>
</div>-->
