.navbar-home {
  width:100%;
  position: relative;
  height: 20px;
}
.navbar-right {
  position: absolute;
  left: 80%;
}
#bs-example-navbar-collapse-6 {
  margin-left: 80px;
}
#bs-example-navbar-collapse-6 .search {
  position: absolute;
  margin-top: 10px;
  margin-left: 80px;
  opacity: 0.5;
}
#bs-example-navbar-collapse-6 .basic-addon2 {
  position: absolute;
  margin-left: 277px;
  margin-top: 10px;
  opacity: 0.5;
}
.basic-addon2 .btn {
  height: 34px;
}
.navbar-btn {
  margin-right:-80px;
}
.navbar-drop {
  margin-top: 8px;
}
