<div class="container">
  <div class="row" style="margin-top: 75px;">
    <tabset>
      <tab heading="基础信息">
        <div class="row offset-top basic-message">
          <div class="col-sm-2 col-md-1">
            <img src="../assets/images/node-sass.png" class="img-thumbnail">
          </div>
          <div class="col-sm-10 col-md-10">
            <form class="form-horizontal">
              <div class="form-group">
                <label class="control-label">用户名：<input type="text" name="userName" class="form-control" ng-model="center.user.userName"></label>
              </div>
              <div class="form-group">
                <label class="control-label">姓名：<input type="text" name="name" class="form-control" ng-model="center.user.name"></label>
              </div>
              <div class="form-group">
                <label class="control-label">性别：<input type="radio" name="sex" ng-model="center.user.sex" value="man">男</label>
                <label class="control-label"><input type="radio" name="sex" ng-model="center.user.sex" value="woman">女</label>
              </div>
              <div class="form-group">
                <label class="control-label">邮箱：<input type="email" name="email" class="form-control" ng-model="center.user.email"></label>
              </div>
              <div class="form-group">
                <label class="control-label">电话：<input type="text" name="tel" class="form-control" ng-model="center.user.tel"></label>
              </div>
              <div class="footer">
                <button class="btn btn-success" ng-click="center.save()">保存</button>
              </div>
            </form>
          </div>
        </div>
      </tab>
      <tab heading="修改头像">
        <div class="row offset-top">
          <div class="col-sm-3 col-md-3">
            <img src="../assets/images/yeoman.png" class="img-circle" style="width: 200px;height: 200px;">
          </div>
          <div class="col-sm-9 col-md-9">
            <div>Select an image file: <input type="file" id="fileInput" /></div>
            <div class="cropArea">
              <img-crop image="center.myImage" result-image="center.myCroppedImage"></img-crop>
            </div>
            <div>Cropped Image:</div>
            <div><img ng-src="{{center.myCroppedImage}}" /></div>
            <!--<div class="">
              <div photo-upload></div>
            </div>-->
          </div>
        </div>
      </tab>
      <tab heading="修改密码">dfdf</tab>
      <tab heading="视频管理"></tab>
      <tab heading="我的关注"></tab>
    </tabset>
  </div>
</div>
