<div class="container">
  <div class="row" style="margin-top: 75px;">

  </div>
  <div class="row" style="margin-top: 75px;">
    <tabset>
      <tab heading="基础信息">
        <div class="row offset-top basic-message">
          <div class="col-sm-2 col-md-1">
            <img src="../assets/images/node-sass.png" class="img-thumbnail">
          </div>
          <div class="col-sm-10 col-md-10">
            <form class="form-horizontal">
              <div class="form-group">
                <label class="control-label">用户名：<input type="text" name="userName" class="form-control" ng-model="center.user.userName"></label>
              </div>
              <div class="form-group">
                <label class="control-label">姓名：<input type="text" name="name" class="form-control" ng-model="center.user.name"></label>
              </div>
              <div class="form-group">
                <label class="control-label">性别：<input type="radio" name="sex" ng-model="center.user.sex" value="man">男</label>
                <label class="control-label"><input type="radio" name="sex" ng-model="center.user.sex" value="woman">女</label>
              </div>
              <div class="form-group">
                <label class="control-label">邮箱：<input type="email" name="email" class="form-control" ng-model="center.user.email"></label>
              </div>
              <div class="form-group">
                <label class="control-label">电话：<input type="text" name="tel" class="form-control" ng-model="center.user.tel"></label>
              </div>
              <div class="footer">
                <button class="btn btn-success" ng-click="center.save()">保存</button>
              </div>
            </form>
          </div>
        </div>
      </tab>
      <tab heading="修改头像">
        <div class="row offset-top">
          <div class="col-sm-3 col-md-3">
            <img src="../assets/images/yeoman.png" class="img-circle" style="width: 200px;height: 200px;">
          </div>
          <div class="col-sm-9 col-md-9">
            <!--<div class="">
            <div photo-upload></div>
          </div>-->
            <label class="control-label">Select an image file: <input type="file" ng-model="center.image" id="fileInput" class="form-control" onchange="angular.element(this).scope().center.handleFileSelect(this.files)" style="display: inline;margin-bottom: 10px;" /></label>
            <div class="row">
              <div class="cropArea col-sm-9 col-md-9">
                <img-crop image="center.myImage" result-image="center.myCroppedImage"></img-crop>
              </div>
              <div class="col-sm-3 col-md-3">
                 <h5>Cropped Image:</h5>
                <div><img ng-src="{{center.myCroppedImage}}"/></div>
              </div>
            </div>
            <div class="footer" style="margin-top: 20px;">
              <button class="btn btn-success">修改成功</button>
            </div>
          </div>
        </div>
      </tab>
      <tab heading="修改密码">
        <div class="row offset-top" style="margin-left: 20px;">
          <div class="form-group">
            <label class="control-label">&nbsp;&nbsp;&nbsp;旧密码：<input type="password" name="email" class="form-control" ng-model="center.user.oldPassword"></label>
          </div>
          <div class="form-group">
            <label class="control-label">&nbsp;&nbsp;&nbsp;新密码：<input type="password" name="email" class="form-control" ng-model="center.user.newPassword"></label>
          </div>
          <div class="form-group">
            <label class="control-label">确认密码：<input type="password" name="tel" class="form-control" ng-model="center.user.rePassword"></label>
          </div>
        </div>
      </tab>
      <tab heading="视频管理"></tab>
      <tab heading="我的关注"></tab>
    </tabset>
  </div>
</div>
