<div class="container">
  <div class="row">
    <h5>上传视频</h5>
    <form class="form offset-top" novalidate>
      <div class="form-group" style="height: 480px;margin-top: 60px;display: block;">

        <label class="control-label"><span>上传：</span>
          <!--<input type="file"class="form-control" name="file" ng-model="center.video.file" style="display: inline" >-->
          <!-- Example: nv-file-drop="" uploader="{Object}" options="{Object}" filters="{String}" -->
          <div nv-file-drop="" uploader="upload.uploader" options="{ url: 'http://localhost:8080/end_tv_web/image/upload'}"filters ="queueLimit, customFilter">
            <div nv-file-over="" uploader="upload.uploader" over-class="another-file-over-class" class="well my-drop-zone">
              Another drop zone with its own settings
            </div>

          </div>
          <input type="file" nv-file-select="" uploader="upload.uploader" style="margin-left: 50px;margin-bottom: 20px;" />
          <table class="table" style="margin-left: 50px;">
            <thead>
            <tr>
              <th width="50%">Name</th>
              <th ng-show="upload.uploader.isHTML5">Size</th>
              <th ng-show="upload.uploader.isHTML5">Progress</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in upload.uploader.queue">
              <td><strong>{{ item.file.name }}</strong></td>
              <td ng-show="upload.uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
              <td ng-show="upload.uploader.isHTML5">
                <div class="progress" style="margin-bottom: 0;">
                  <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                </div>
              </td>
              <td class="text-center">
                <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
              </td>
              <td nowrap>
                <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                  <span class="glyphicon glyphicon-upload"></span> Upload
                </button>
                <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                  <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                </button>
                <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                  <span class="glyphicon glyphicon-trash"></span> Remove
                </button>
              </td>
            </tr>
            </tbody>
          </table>

          <div style="margin-left: 50px;">
            <div>
              Queue progress:
              <div class="progress" style="">
                <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
              </div>
            </div>
            <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!upload.uploader.getNotUploadedItems().length">
              <span class="glyphicon glyphicon-upload"></span> Upload all
            </button>
            <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!upload.uploader.isUploading">
              <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
            </button>
            <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!upload.uploader.queue.length">
              <span class="glyphicon glyphicon-trash"></span> Remove all
            </button>
          </div>
        </label>
      </div>
      <div class="form-group" style="margin-top: 40px;">
        <label class="control-label">分类：
          <select class="form-control" ng-model="upload.video.type">
            <option value="tv">电视剧</option>
            <option value="movie">电影</option>
            <option value="art">综艺</option>
            <option value="animation">动漫</option>
            <option value="fitness">健康</option>
            <option value="teach">教育</option>
          </select>
        </label>
      </div>
      <div class="form-group">
        <label class="control-label">简介：<textarea class="form-control" ng-model="upload.video.shortMessage" cols="72"></textarea></label>
      </div>
      <div class="form-group">
        <label class="control-label">类别：
          <select class="form-control" ng-model="upload.video.tip">
            <option value="kefang">科幻</option>
            <option value="happy">喜剧</option>
            <option value="art">武侠</option>
            <option value="shenghua">神话</option>
            <option value="fitness">健康</option>
            <option value="teach">教育</option>
          </select>
        </label>
      </div>
      <div class="form-group">
        <label class="control-label">地区：
          <select class="form-control" ng-model="upload.video.area">
            <option value="china">大陆</option>
            <option value="hkong">香港</option>
            <option value="taiwan">台湾</option>
            <option value="korea">韩国</option>
            <option value="american">美国</option>
            <option value="japan">日本</option>
            <option value="thailand">泰国</option>
            <option value="singapore">新加坡</option>
          </select>
        </label>
      </div>
      <div class="form-group">
           <span>首映：</span>
            <p class="input-group" style="margin-left: 46px;margin-top: -25px;">
              <input type="text" class="form-control" ng-model="upload.video.releaseDate" datepicker-popup="yyyy-MM-dd" ng-model="upload.video.releaseDate" is-open="upload.status.opened"  datepicker-options="dateOptions"  ng-required="true" close-text="Close"/>
              <span class="input-group-btn" style="float: left;">
                <button type="button" class="btn btn-default datetime-btn" ng-click="upload.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>

      </div>
      <div class="form-group">
        <label class="control-label">标签：<input type="text"class="form-control" name="name" ng-model="upload.video.tip" size="70"></label>
      </div>
      <div class="form-group footer" style="margin-left: 300px;">
        <button class="btn btn-default" style="margin-right: 30px;">取消</button>
        <button class="btn btn-primary" ng-click="upload.submit()">上传</button>
      </div>
    </form>
  </div>
</div>
