<div class="container">
  <div class="row" style="height: 305px;margin-top: 60px;">
    <h5>上传视频</h5>
    <form class="form offset-top" novalidate>
      <div class="form-group">
        <label class="control-label">上传：<input type="file"class="form-control" name="file" ng-model="center.video.file" style="display: inline" ></label>
      </div>
      <div class="form-group">
        <label class="control-label">标题：<input type="text"class="form-control" name="name" ng-model="center.video.name" size="30"></label>
      </div>
      <div class="form-group">
        <label class="control-label">简介：<textarea class="form-control" ng-model="center.video.shortmessage" cols="32"></textarea></label>
      </div>
      <div class="form-group">
        <label class="control-label">分类：
          <select class="form-control" ng-model="center.video.type">
            <option value="tv">电视剧</option>
            <option value="movie">电影</option>
            <option value="art">综艺</option>
            <option value="animation">动漫</option>
            <option value="fitness">健康</option>
            <option value="teach">教育</option>
          </select>
        </label>
      </div>
      <div class="form-group">
        <label class="control-label">地区：
          <select class="form-control" ng-model="center.video.area">
            <option value="china">大陆</option>
            <option value="hkong">香港</option>
            <option value="taiwan">台湾</option>
            <option value="korea">韩国</option>
            <option value="american">美国</option>
            <option value="japan">日本</option>
          </select>
        </label>
      </div>
      <div class="form-group">
        <label class="control-label">标签：<input type="text"class="form-control" name="name" ng-model="center.video.tip" size="30"></label>
      </div>
    </form>
  </div>
</div>
