<div class="container">
  <hr>
  <div class="row sort">
    <ul class="list-unstyled list-inline list-underline" ng-repeat="menu in animationSort.menus">
      <li ng-repeat="data in menu.datas" ng-class="{'url-tip':data.tip ===animationSort.data.tip,'area-tip':data.area == animationSort.data.area,'type-tip':data.type === animationSort.data.type,'date-tip':data.date === animationSort.data.releaseDate}">
        <a ng-click="animationSort.select(data.url,data.tip,data.area,data.type,data.date)">{{data.title}}</a>
      </li>
    </ul>
  </div>
  <div class="row offset-top query">
    <span>排序</span>
    <div class="btn-group" dropdown is-open="false">
      <span id="single-button1" type="button" class="btn" dropdown-toggle ng-disabled="disabled">
        最多播放 <span class="caret"></span>
      </span>
      <ul class="dropdown-menu" role="menu" aria-labelledby="single-button1" style="min-width: 20px;">
        <li role="menuitem"><a href="#">最多播放</a></li>
        <li role="menuitem"><a href="#">最多评论</a></li>
        <li role="menuitem"><a href="#">最受欢迎</a></li>
        <li role="menuitem"><a href="#">最新上线</a></li>
        <li role="menuitem"><a href="#">最新更新</a></li>
      </ul>
    </div>
    <div class="btn-group" dropdown is-open="false">
      <span id="single-button2" type="button" class="btn" dropdown-toggle ng-disabled="disabled">
        今日 <span class="caret"></span>
      </span>
      <ul class="dropdown-menu" role="menu" aria-labelledby="single-button2"style="min-width: 20px;">
        <li role="menuitem"><a href="#">今日</a></li>
        <li role="menuitem"><a href="#">本周</a></li>
        <li role="menuitem"><a href="#">历史</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-tv col-md-tv" ng-repeat="animation in animationSort.datas">
      <div class="tv">
        <img class="img_tv" ng-src="http://localhost:8080/end_tv_web/movieAction/getPath/{{animation.imgId}}">
        <div class="caption">
          <h5>{{ tv.message}}</h5>
          <p>{{ tv.id }}</p>
          <p><a ng-href="{{awesomeThing.url}}">{{ awesomeThing.url }}</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row" align="center">
    <pagination  total-items="animationSort.page.totalResult" items-per-page="30" ng-model="animationSort.page.currentPage" ng-change="aniamtionSort.changePage()" class="pagination-sm pull-right" previous-text="&lsaquo;" next-text="&rsaquo;"></pagination>
  </div>
</div>

