<div class="row all-search">
  <div class="col-sm-4 col-md-4">
    <h4>首页管理</h4>
  </div>
  <div class="col-sm-4 col-md-4 pull-right">
    <div class="input-group">
      <input type="text" class="form-control pull-right" placeholder="Search for..." ng-model="endMain.name">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="endMain.search()"><span class="glyphicon glyphicon-search"></span></button>
        </span>
    </div><!-- /input-group -->
  </div>
</div>
<div class="row offset-top">
  <table class="table table-responsive table-hover">
    <thead>
    <tr>
      <th>选择</th>
      <th>编号</th>
      <th>影名</th>
      <th>上映时间</th>
      <th>热门程度</th>
      <th>上传时间</th>
      <th>评论数</th>
      <th>点赞数</th>
      <th>不点赞数</th>
      <th>上传人</th>
      <th>类别</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody ng-init="index ==0">
    <tr ng-repeat="data in endMain.datas">
      <td><input type="checkbox" name="" ng-checked="endMain.checkValue"></td>
      <td>{{$index+1}}</td>
      <td>{{data.name}}</td>
      <td>{{data.createData}}</td>
      <td>热门</td>
      <td>{{data.createData}}</td>
      <td>{{data.score}}</td>
      <td>2342342</td>
      <td>12434</td>
      <td>{{data.staror}}</td>
      <td>{{data.type}}</td>
      <td><button class="btn btn-success btn-xs" style="margin-right: 5px;" ng-click="endMain.copy(data)">复制</button><button class="btn btn-warning btn-xs">删除</button></td>
    </tr>
    </tbody>
  </table>
  <div class="row">
    <label class="selectAll">
      <input type="checkbox" name="" ng-model="endMain.check" ng-true-value="'YES'" ng-false-value="'NO'"ng-click="endMain.selectAll()">

      <span>全选</span>
    </label>
    <pagination  total-items="endMain.page.totalResult" items-per-page="20" ng-model="endMain.page.currentPage" class="pagination-sm pull-right" ng-change="endMain.changePage()" previous-text="&lsaquo;" next-text="&rsaquo;"></pagination>
  </div>
</div>
<script type="text/ng-template" id="copy.html">
  <div class="modal-header">
    <h4>前端首页管理</h4>
    <button class="btn btn-link btn-xs pull-right" ng-click="copy.cancel()"><span class="glyphicon glyphicon-remove"></span></button>
  </div>
  <div class="modal-body">
    <form class="form">
      <div class="form-group">
        <div class="row">
          <div class="col-sm-2 col-md-2">
            <span class="pull-right">影名：</span>
          </div>
          <div class="col-sm-10 col-md-10">
            <input type="text" name="movie_name" class="form-control" ng-model="copy.movie.name">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-2 col-md-2">
            <span class="pull-right">热门度：</span>
          </div>
          <div class="col-sm-10 col-md-10">
            <input type="text" name="movie_hotLevel" class="form-control" ng-model="copy.movie.hotLevel">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-2 col-md-2">
            <span class="pull-right">点赞数：</span>
          </div>
          <div class="col-sm-10 col-md-10">
            <label class="control-label"><input type="text" name="movie_goodNumber" class="form-control" ng-model="copy.movie.points"></label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-2 col-md-2">
            <span class="pull-right">评论数：</span>
          </div>
          <div class="col-sm-10 col-md-10">
            <label class="control-label"><input type="text" name="movie_reviews" class="form-control" ng-model="copy.movie.comment"></label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-2 col-md-2">
            <span class="pull-right">分类：</span>
          </div>
          <div class="col-sm-10 col-md-10">
            <label class="control-label">
              <select class="form-control" ng-model="copy.movie.recommand">
                <option value="carouselBg">首页轮播图</option>
                <option value="guessLike">猜你喜欢</option>
                <option value="currentHot">近期热门</option>
                <option value="classicRetro">经典怀旧</option>
                <option value="mainTv">首页电视剧</option>
                <option value="mainMovie">首页电影</option>
                <option value="mainArt">首页综艺</option>
                <option value="mainAnimation">首页动漫</option>
                <option value="mainTeach">首页技术</option>
                <option value="mainFitness">首页养生</option>
              </select>
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-2 col-md-2">
            <span class="pull-right">图片：</span>
          </div>
          <div class="col-sm-5 col-md-5">
            <img src="http://localhost:8080/end_tv_web/movieAction/getPath/{{copy.movie.imgId}}" class="img-thumbnail">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-2 col-md-2">
            <span class="pull-right">标签：</span>
          </div>
          <div class="col-sm-10 col-md-10">
            <label class="control-label">
              <select class="form-control" ng-model="copy.movie.tip">
                <option value="hot">热播</option>
                <option value="upToDate">最新</option>
                <option value="china">大陆</option>
                <option value="hkong">港台</option>
                <option value="japan">日韩</option>
                <option value="overseas">海外</option>
                <option value="recommand">推荐</option>
                <option value="english">欧美</option>
              </select>
            </label>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="copy.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="copy.cancel()">Cancel</button>
  </div>
</script>
