.carouse-top {
  margin-top: -20px;
}

.main-title, .right-title {
  display: inline;
}
.right-title {
  margin-right: -80px;
}
.main-title span, .main-title h3 {
  display: inline;
}
/* Thumbnail Box */
.caption h4 {
  font-size: 1rem;
  color: #444;
}
.caption p {
  font-size: 0.75rem;
  color: #999;
}
.btn.btn-mini {
  font-size: 0.63rem;
}
