<div class="row all-search">
  <div class="">
    <h4>首页列表管理</h4>
    <div class="btn-group" dropdown is-open="false">
      <span id="single-button1" type="button" class="btn" dropdown-toggle ng-disabled="disabled">
        首页排版 <span class="caret"></span>
      </span>
      <ul class="dropdown-menu" role="menu" aria-labelledby="single-button1" style="min-width: 20px;">
        <li role="menuitem"><a ng-click="endFitnessList.change('carouselFitness')">首页轮播资源</a></li>
        <li role="menuitem"><a ng-click="endFitnessList.change('healthFitness')">健康情报站</a></li>
        <li role="menuitem"><a ng-click="endFitnessList.change('expertFitness')">权威专家</a></li>
        <li role="menuitem"><a ng-click="endFitnessList.change('medicalFitness')">医疗卫生</a></li>
        <li role="menuitem"><a ng-click="endFitnessList.change('careFitness')">样式保健</a></li>
        <li role="menuitem"><a ng-click="endFitnessList.change('slimFitness')">健身塑形</a></li>
        <li role="menuitem"><a ng-click="endFitnessList.change('childFitness')">儿科诊所</a></li>
        <li role="menuitem"><a ng-click="endFitnessList.change('oldFitness')">老年健康</a></li>
        <li role="menuitem"><a ng-click="endFitnessList.change('psyFitness')">心理健康</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row offset-top">
  <table class="table table-responsive table-hover">
    <thead>
    <tr>
      <th>选择</th>
      <th>编号</th>
      <th>影名</th>
      <th>上映时间</th>
      <th>热门程度</th>
      <th>上传时间</th>
      <th>评论数</th>
      <th>点赞数</th>
      <th>不点赞数</th>
      <th>上传人</th>
      <th>类别</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="fitness in endFitnessList.resources">
      <td><input type="checkbox" name="" ng-checked="endFitnessList.checkValue"></td>
      <td>{{$index+1}}</td>
      <td>{{fitness.name}}</td>
      <td>{{fitness.createData}}</td>
      <td>热门</td>
      <td>{{fitness.createData}}</td>
      <td>{{fitness.score}}</td>
      <td>2342342</td>
      <td>12434</td>
      <td>{{fitness.staror}}</td>
      <td>{{fitness.type}}</td>
      <td><button class="btn btn-success btn-xs" style="margin-right: 5px;" ng-click="endFitnessList.copy(fitness)">查看</button><button class="btn btn-warning btn-xs" ng-click="endFitnessList.delete(endFitnessList.id)">删除</button></td>
    </tr>
    </tbody>
  </table>
  <div class="row">
    <label class="selectAll">
      <input type="checkbox" name="" ng-model="endFitnessList.check" ng-true-value="'YES'" ng-false-value="'NO'"ng-click="endFitnessList.selectAll()">

      <span>全选</span>
    </label>
    <pagination  total-items="endFitnessList.page.totalResult" items-per-page="20" ng-model="endFitnessList.page.currentPage" class="pagination-sm pull-right" ng-change="endFitnessList.changePage()" previous-text="&lsaquo;" next-text="&rsaquo;"></pagination>
  </div>
</div>
<script type="text/ng-template" id="copy.html">
  <div class="modal-header">
    <h4>前端首页管理</h4>
    <button class="btn btn-link btn-xs pull-right" ng-click="copy.cancel()"><span class="glyphicon glyphicon-remove"></span></button>
  </div>
  <div class="modal-body">
    <form class="form">
      <div class="form-group">
        <div class="row">
          <div class="col-sm-2 col-md-2">
            <span class="pull-right">影名：</span>
          </div>
          <div class="col-sm-10 col-md-10">
            <input type="text" name="movie_name" class="form-control" ng-model="copy.movie.name">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-2 col-md-2">
            <span class="pull-right">热门度：</span>
          </div>
          <div class="col-sm-10 col-md-10">
            <input type="text" name="movie_hotLevel" class="form-control" ng-model="copy.movie.hotLevel">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-2 col-md-2">
            <span class="pull-right">点赞数：</span>
          </div>
          <div class="col-sm-10 col-md-10">
            <label class="control-label"><input type="text" name="movie_goodNumber" class="form-control" ng-model="copy.movie.name"></label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-2 col-md-2">
            <span class="pull-right">评论数：</span>
          </div>
          <div class="col-sm-10 col-md-10">
            <label class="control-label"><input type="text" name="movie_reviews" class="form-control" ng-model="copy.movie.reviews"></label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-2 col-md-2">
            <span class="pull-right">标签：</span>
          </div>
          <div class="col-sm-10 col-md-10">
            <label class="control-label">
              <select class="form-control" ng-model="copy.movie.tip">
                <option value="carouselBg">首页轮播图</option>
                <option value="guessLike">猜你喜欢</option>
                <option value="currentHot">近期热门</option>
                <option value="classicRetro">经典怀旧</option>
                <option value="mainTv">首页电视剧</option>
                <option value="mainMovie">首页电影</option>
                <option value="mainArt">首页综艺</option>
                <option value="mainAnimation">首页动漫</option>
                <option value="mainTeach">首页技术</option>
                <option value="mainFitness">首页养生</option>
              </select>
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-2 col-md-2">
            <span class="pull-right">图片：</span>
          </div>
          <div class="col-sm-5 col-md-5">
            <img src="http://localhost:8080/end_tv_web/movieAction/getPath/{{copy.movie.imgId}}" class="img-thumbnail">
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="copy.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="copy.cancel()">Cancel</button>
  </div>
</script>
