.video-box {
  margin-top: 50px;
  background-color: #2c2c2c;
}
#video1 {
  background-color: #000000;
  border: 1px solid #666;
  box-shadow: 0px 0px 10px 2px #666;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: auto;
}
.tv-menu {
  color: #ffffff;
  text-align: left;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.tv-menu li {
  margin-left: 5px;
  margin-right: 10px;
}
.tv-list {
  color:#ffffff;
}
.set-number {

}
.set-number li {
  border: 1px solid #9da0a4;
  background-color: #979797;
  width: 40px;
  height: 30px;
  margin-bottom: 2px;
}
.discuss {
  margin-top: 20px;
}
.discuss-content textarea {
  width: 100%!important;
}
.discuss .footer {
  margin-top: 10px;
  margin-right: 20px;
}
.tv-message {
  margin-top: 10px;
  margin-left: 10px;
}
.tv-message span {
  margin-bottom: 5px;
}
