.title-content-one span {
  margin-right: 100px;
}
.title-content-two span {
  margin-right: 27px;
}
.title-content-one {
  margin-bottom: 5px;
}
.title-content-two {
  margin-bottom: 5px;
}
.title-content-footer {
  margin-top: 5px;
  margin-bottom: 10px;
}
.nav-top {
  margin-left: 10px;
}
.separation div {
  border: 1px solid #9da0a4;
  margin-right: 5px;
  margin-left: 15px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
}
.nav-tip {
  border-bottom: 2px solid #dddddd;
  padding-bottom: 10px;
}
.description h4 {
  border-left: 2px solid #66AA33;
  padding-left: 5px;
}
