<div class="container">
  <div class="row" style="margin-top: 70px;">
    <span>搜索“海贼王”,共找到约22.8万个视频</span>
    <ul class="list-unstyled list-inline pull-right">
      <li>相关</li>
      <li>最新</li>
      <li>最热</li>
      <li>高级筛选</li>
    </ul>
  </div>
  <div class="row offset-top" ng-repeat="data in message.datas">
    <div class="row">
      <div class="col-sm-2 col-md-2">
      <img src="http://localhost:8080/end_tv_web/movieAction/getPath/{{data.imgId}}" class="img-thumbnail img-big">
    </div>
      <div class="col-sm-10 col-md-10">
       <div class="row title-name">
         <h3>{{data.name}}<small>{{data.createData}}</small></h3>
       </div>
       <div class="row title-content">
         <div class="title-content-one">
            <span>评分：{{data.score}}</span>
            <span>地区：日本</span>
         </div>
         <div class="title-content-two">
            <span>类型：冒险/历史/剧情</span>
            <span>导演：{{data.director}}</span>
         </div>
         <span>主演：{{data.staror}}</span>
       </div>
       <div class="row title-content-footer">
          <span>总播放：897,546,546</span>
          <span>评论：334.034</span>
          <span>顶：1,232,344</span>
          <span><p class="glyphicon glyphicon-arrow-up"></p></span>
       </div>
      <button class="btn btn-primary btn-lg" ui-sref="nav.play">播放正片<span class="glyphicon glyphicon-play-circle"></span></button>
    </div>
    </div>
    <div class="row offset-top" ng-if="data.type == 'tv'">
      <ul class="list-unstyled list-inline nav-tip">
        <li>剧集列表</li>
        <li>分集剧情</li>
        <li>预告片</li>
        <li>花絮</li>
        <li>特别篇</li>
      </ul>
      <div class="row">
        <ul class="list-unstyled list-inline nav-top">
          <li><span>1-20</span></li>
          <li><span>21-34</span></li>
        </ul>
      </div>
      <div class="row separation">
        <div class="col-sm-5 col-md-5">
          <span>01荧惑手心</span>
        </div>
        <div class="col-sm-5 col-md-5">
          <span>02合纵联合</span>
        </div>
        <div class="col-sm-5 col-md-5">
          <span>02合纵联合</span>
        </div>
        <div class="col-sm-5 col-md-5">
          <span>02合纵联合</span>
        </div>
      </div>
    </div>
    <div class="row offset-top">
      <ul class="list-unstyled list-inline nav-tip">
        <li>剧集介绍</li>
        <li>演员列表</li>
        <li>评论</li>
      </ul>
      <div class="description">
        <h4>剧情列表</h4>
        <p>在樱花烂漫的季节里，无忧无虑的草帽海贼团尽情享受快乐时光。途中乔巴救上了一个魁梧健硕的家伙，最引人注目的是他的右腕装配了用海楼石做成的机械手腕，凡是触碰过手腕的人均能力尽失。原来此人便是曾经培养出无数优秀弟子的原海军大将Z（大冢芳忠 配音）。苏醒后的Z得知路飞（田中真弓 配音）等人的身份后反目成仇，与随后赶来的下属艾伊（筱原凉子 配音）和宾兹（香川照之 配音）对草帽海贼团予以残酷无情的重创。原来Z因某件往事而对海贼极度憎恨，此时他正酝酿一项恐怖计划，势要带领“NEO海军”将新世界的海贼一举歼灭。他的行动引起海军本部的忌惮，而惨败的路飞等人也将向这个前所未有的敌人展开新的挑战……</p>
      </div>
    </div>
  </div>

</div>
