<div class="row all-search">
  <div class="col-sm-4 col-md-4">
    <h4>电视剧列表管理</h4>
  </div>
  <div class="col-sm-4 col-md-4 pull-right">
    <div class="input-group">
      <input type="text" class="form-control pull-right" placeholder="Search for...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
        </span>
    </div><!-- /input-group -->
  </div>
</div>
<div class="row offset-top">
  <table class="table table-responsive table-hover">
    <thead>
      <tr>
        <th>选择</th>
        <th>编号</th>
        <th>影名</th>
        <th>上映时间</th>
        <th>热门程度</th>
        <th>上传时间</th>
        <th>评论数</th>
        <th>点赞数</th>
        <th>不点赞数</th>
        <th>上传人</th>
        <th>类别</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody ng-init="index ==0">
      <tr ng-repeat="tv in endTv.datas">
        <td><input type="checkbox" name="" ng-checked="endTv.checkValue"></td>
        <td>{{index+1}}</td>
        <td>{{tv.name}}</td>
        <td>{{tv.createData}}</td>
        <td>热门</td>
        <td>{{tv.createData}}</td>
        <td>{{tv.score}}</td>
        <td>2342342</td>
        <td>12434</td>
        <td>{{tv.staror}}</td>
        <td>{{tv.type}}</td>
        <td><button class="btn btn-success btn-xs" style="margin-right: 5px;" ui-sref="endTv.modal">复制</button><button class="btn btn-warning btn-xs">删除</button></td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <label class="selectAll">
      <input type="checkbox" name="" ng-model="endTv.check" ng-true-value="'YES'" ng-false-value="'NO'"ng-click="endTv.selectAll()">

      <span>全选</span>
    </label>
    <pagination  total-items="endTv.page.totalResult" ng-model="endTv.page.currentPage" class="pagination-sm pull-right" ng-change="" previous-text="&lsaquo;" next-text="&rsaquo;"></pagination>
  </div>
</div>
