<div class="tab-content">
  <div role="tabpanel" class="tab-pane expand active" id="home">
    <div class="col-sm-2 col-md-2 square" ng-repeat="tab in vm.tabDatas">
      <div class="thumbnail">
        <img class="pull-right" ng-src="assets/images/like/{{tab.image}}">
        <div class="caption">
          <h3></h3>
          <p><a ng-href="#"></a></p>
        </div>
      </div>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="profile">
    <div class="col-sm-2 col-md-2 square" ng-repeat="tab in vm.tabDatas">
      <div class="thumbnail">
        <img class="pull-right" ng-src="assets/images/like/{{tab.image}}">
        <div class="caption">
          <h3></h3>
          <p><a ng-href="#"></a></p>
        </div>
      </div>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="messages">
    <div class="col-sm-2 col-md-2 square" ng-repeat="tab in vm.tabDatas">
      <div class="thumbnail">
        <img class="pull-right" ng-src="assets/images/like/{{tab.image}}">
        <div class="caption">
          <h3></h3>
          <p><a ng-href="#"></a></p>
        </div>
      </div>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane settings">
    <div class="col-sm-2 col-md-2 square" ng-repeat="tab in vm.tabDatas">
      <div class="thumbnail image">
        <img class="pull-right" ng-src="assets/images/like/{{tab.image}}">
        <div class="caption">
          <h3></h3>
          <p><a ng-href="#"></a></p>
        </div>
      </div>
    </div>
  </div>
</div>
