.fit-title ul li{
  margin-right: 10px;
  margin-left: 50px;
}
.fit-title ul li a {
 text-align: center;
  color:#79a707;
}
.fit-title ul li a:hover,
.fit-title ul li a:link,
.fit-title ul li a:active,
.fit-title ul li a:visited{
  text-decoration: none;
}
.fit-title ul li a h1{
  margin-bottom: 20px;
}
.fit-title ul li a h1:hover {
  color:#EECF0d;
}
