.moviepane-photo {
  float: left;
  height: 380px;
  overflow: hidden;
  padding: 0 5px;
  margin-right: 10px;
  margin-left: 4px;
  position: relative;
  width: 220px;
}
.movie img {
  height:340px;
  width:220px;
}
